*{
    margin: 0;
    padding: 0;
}

.flex_body{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: aquamarine;
    align-items: center !important;
    align-content: center;
    text-align: center;
    
}

.flex_body > button{
    height: 20px;
    margin-left: 45vw;
}

.btn{
    padding: 30px;
    padding-top: 5px;
    font-size: 18px;
    background-color: black;
    color: white;
    border-style: none;
    border-radius: 10px;
    font-family: cursive;
}